body {
  margin: 0;
  color: #d3d3d3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
}

input {
  font-family: inherit;
  font-size: inherit;
}

.box {
  margin: 0 auto;
  padding: 15px;
  max-width: 400px;
}